 /* -------------------------------------------------------elements------------------------------------------------------------------------- */
body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.container-position {
    position: relative;    
}

.button {
    background: #E3B873 !important;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    outline: 0;
    font: Nunito Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    text-align: center;
}

/* ------------------------- checkbox------------------------------ */

.label {
    cursor: pointer;
  }

.checkbox{
    display: none;
  }

.checkboxDetails{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }

.checkboxDetails::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }

.checkbox:checked + .checkboxDetails::before{
    opacity: 1;
  }

/* -------------------------------------------------beggin of header------------------------------------------------------------------------ */

.logo {
    color: #E3B873;
}

.header {
    background: #131313;
    width: 1440px;
}  

.header-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header-content{
    height: 83px;
}


.header-navigation {
    list-style: none;
    display: flex;
 }

 .header-navigation_item {
     margin-right: 47px;
 }

 .header-navigation_item a {
     text-decoration: none;
     color: white;
}

.phone {
    color: rgba(227, 184, 115, 1);
    font: Nunito Sans;
    font-weight: 400;
    size: 11px;
    align-items: right;
}



 /* ---------------------------------------------------------------begin of section 1 --------------------------------------------------------- */
.section1 {
    background-image: url('../Images/pic1.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
    width: 1440px;
}

.container-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 707px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    padding-top: 194px;
    width: 676px;
    margin-left: 130px;
}

.text2{
    width: 504px;
    height: 89px;
    margin-top: 19px;
    margin-left: 130px;
    font: Nunito Sans;
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
}

.button-calculate {
    width: 207px;
    height: 51px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 134px;
    position: relative;
}

.button-submit {
    position: relative;
    width: 207px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    padding: 13px 23px;
    color: white;
    text-transform: uppercase;
    outline: 0;
    font: Nunito Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    text-align: center;
}

.container-title {
    margin-left: 0;
}

 /* ----------------------------------------------------------begin of section 2 ---------------------------------------------------- */

 .section2 {
    background-color: rgba(19, 19, 19, 1);
    height: 1074px;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    width: 1440px;
}

.section2-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 626px;
    padding-top: 107px;
    margin-right: 190px;
    margin-top: 0;
}

.section2-navigation_item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.first_item {
    color: rgba(227, 184, 115, 1);
    text-decoration: underline;
}

.image2 {
    height: 482px; 
    width: 679px;
    margin-left: 665px;
    margin-top: 50px;
    position: absolute;
}

.title2 {
    color: rgba(227, 184, 115, 1);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-left: 134px;
    width: 253px;
    height: 66px;
    position: absolute;
    margin-top: 60px;
}

.section2-text2 {
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-left: 134px;
    width: 442px;
    height: 86px;
    margin-top: 170px;
}

.section2-text3 {
    color: rgba(227, 184, 115, 1);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
}

.section2-text4 {
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;  
    position: absolute; 
}

.city {
    margin-top: 40px;
    margin-left: 134px;
}

.Rostov-on-Don {
    margin-top: 70px;
    margin-left: 134px;
}

.apartment {
    margin-top: 40px;
    margin-left: 324px;
}

.m2 {
    margin-top: 70px;
    margin-left: 324px;
}

.repair {
    margin-top: 140px;
    margin-left: 134px;
}

.months {
    margin-top: 170px;
    margin-left: 134px;
}

.cost {
    margin-top: 140px;
    margin-left: 324px;
}

.request {
    margin-top: 170px;
    margin-left: 324px;
}
/*----------------------------------------------------- begin of arrow/dots------------------------------------------------------------------------------*/
.arrow1 {
    margin-top: 250px;
    margin-left: 136px;
    position: relative;
    display: inline-flex;
}
.arrowLeft,
.arrowRight {
    top: 27px;
    width: 60px;
    height: 40px;
    position: relative;
    color: #FFFFFF;
}

.arrowLeft::before,
.arrowRight::before,
.arrowLeft::after,
.arrowRight::after {
    content: '';
    position:absolute;
}

.arrowLeft::before,
.arrowRight::before {
    width: 40px;
    height: 2px;
    top: 9px;
    background-color: #FFFFFF;
}

.arrowRight::before {
    left: 60px;
}
.arrowLeft::after,
.arrowRight::after {
    width: 20px;
    height: 20px;
}

.arrowLeft::after {
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-45deg);
    left: 2px;
}

.arrowRight::after {
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    right: 2px;
    left: 75px;
}

.dots {
    margin-top: 289px;
    margin-left: 136px;
    position: relative;
    display: inline-flex;
    margin-left: -68px;
}

.dotLeft,
.dotMiddle,
.dotRight {
    width: 5px;
    height: 5px;
    margin-right: 17px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

/*-----------------------------------------------------end of arrow/dots------------------------------------------------------------------------*/

.textOnlineControl {
    color: rgba(255, 255, 255, 1);
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 92px;
}

.vectorBlock {
    margin-top: 12px;
    width: 120px;
    height: 40px;
    left: 50%;
    margin-left: -60px;
    position: relative;
    display: inline-flex;
}

.vector1 { 
    width: 32px;
    height: 28px;
    margin-left: 10px;
    margin-right: 10px;
}

.vectorLeft,
.vectorRight {
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    margin-top: 13px;
    padding-left: 5px;
}
/*-------------------------------------------------------- section 3----------------------------------------*/
.section3 {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    background-color:white;
}

.videoImage,
.videoImageOpacity {
    height: 434px; 
    width: 817px;
    margin-left: -409px;
    left: 50%;
    top: -210px;
    position: absolute;
}

.section3Play {
    height: 85px; 
    width: 85px;
    left: 50%;
    margin-left: -42px;
    position: absolute;
    top: -42px;
}

.line {
    width: 55px;
    height: 2px;
    background-color: #E3B873;
    position: absolute;
    margin-top: 270px;
    left: 50%;
    margin-left: -27px;
}

.section3Text1 {
    width: 681px;
    height: 130px;
    color: rgba(54, 54, 54, 1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;  
    position: absolute; 
    text-align: center;
    margin-top: 306px;
    left: 50%;
    margin-left: -340px;
}

.inputForm {
    width: 770px;
    height: 51px;
    margin-top: 530px;
    left: 50%;
    margin-left: -385px;
    position: absolute;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.inputBox {
    width: 230px;
    height: 50px;
}

#name,
#phone,
#email {
    padding: 6px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-left: 0;
    width: 100%;
}

.section3button {
    width: 200px;
    height: 51px;
}

.section3Checkbox {
    width: 320px;
    height: 18px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    margin-top: 613px;
    color: #131313;
}


.vectorBlock2 {
    margin-top: 746px;
    width: 120px;
    height: 40px;
    left: 50%;
    margin-left: -60px;
    position: relative;
    display: inline-flex;
}

.textTypesofrepairheader {
    width: 257px;
    height: 26px;
    margin-top: 707px;
    position: absolute;
    left: 50%;
    margin-left: -129px;
}

.textTypesofrepair {
    color: rgba(24, 24, 24, 1);    ;
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;   
}

.typesofrepairmainBox {
    width: 1236px;
    height: 608px;
    left: 50%;
    margin-left: -618px;
    position: absolute;
    justify-content: space-around;
    display: flex;
    margin-top: 31px;
}

.typesofrepairPic{
    width: 392px;
    height: 421px;
}

.typesofrepairContainer{
    background-color: rgba(255, 255, 255, 1);
    height: 286px;
    width: 330px;
    margin-left: 31px;
    margin-top: -130px;
    z-index: 1;
    position: relative;
}

.typesofrepairBox{
    height: 21px;
    width: 210px;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 54, 54, 1);
    margin-left: 28px;
    padding-top: 25px;
    padding-bottom: 13px;
}

.typesofrepairPicLi {
    width: 267px;
    height: 191px;   
    color: rgba(149, 149, 149, 1);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 13px;
}

.section3Typesofrepairbutton{
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

/*-------------------------------- section 4 ------------------------------------*/

.section4pic1{
    height: 645px;
    width: 1006px;
    margin-top: 763px;
    position: absolute;
}

.section4pic1ListContainer{
    width: 375px;
    height: 474px;
    margin-top: 740px;
    margin-left: 249px;
    position: absolute;
}

.section4pic1yellowCircleMainbox{
    height: 42px; 
    width: 42px;
}

.section4pic1ListBox{
    width: 374px;
    display: flex;
    padding-top: 102px;
}

.section4pic1yellowCircle{
    height: 42px; 
    width: 42px;
    border-radius: 50%;
    background-color: #E3B873;
}

.section4pic1Numbers{
    height: 19px;
    width: 33px;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    top: 20%;
    position: relative;  
}

.section4pic1Text{
    width: 316px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 54, 54, 1);
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.section4BlacksquareContainer{
    background-color: rgba(19, 19, 19, 1);
    height: 509px;
    width: 506px;
    left: 834px;
    top: 3470px;
    border-radius: 0px;
    position: absolute;
}

.section4InputFormHeader{
    height: 47px;
    width: 297px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.section4InputForm{
    padding-top: 39px;
    margin-left: 49px;
    height: 243px;
    width: 408px;
    flex-flow: row wrap;
    background-color:rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.section4InputBox{
    height: 81px;
}

.section4InputBoxLabel{
    background-color:rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
}

.section4Checkbox{
    width: 259px;
    margin-left: 49px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
}

.section4Button{
    width: 213px;
    height: 51px;
    margin-top: 30px;
    margin-left: 244px;
    font-size: 13px;
    font-style: normal;
}

.section4pigContainer{
    height: 72px;
    width: 441px;
    margin-left: 866px;
    margin-top: 1400px;
    display: flex;  
    position: absolute;
}

.section4pig{
    width: 72px;
    height: 72px;
    position: absolute;
}

.section4helpContainer{
    margin-left: 25px;
    width: 250px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: auto;
    margin-left: 97px;
    color: rgba(227, 184, 115, 1);
}

.section4lastblockbackgroundimage,
.section4opassitypic{
    height: 864px;
    width: 1440px;
    margin-top: 1730px;
    position: absolute;
}

.section4lastblockheader{
    height: 66px;
    width: 411px;
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    margin-top: 1860px;
    margin-left: 99px;
    text-transform: uppercase;
    color: #E3B873;
}

.section4lastblockul{
    height: 516px;
    width: 299px;
    margin-left: 99px;
    margin-top: 1980px;
    position: absolute;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    list-style: none;
    padding-inline-start: inherit;
}

.section4lastblockimage1{
    height: 557.8831787109375px;
    width: 354px;
    margin-left: 588px;
    margin-top: 1690px;
    position: absolute;
}

.section4lastblockimage2{
    height: 345px;
    width: 354px;
    margin-left: 588px;
    margin-top: 2310px;
    position: absolute;
}

.section4lastblockimage3{
    height: 275px;
    width: 354px;
    margin-left: 985px;
    margin-top: 1620px;
    position: absolute;
}

.section4lastblockimage4{
    height: 624px;
    width: 354px;
    margin-left: 985px;
    margin-top: 1930px;
    position: absolute;
}

/*-------------------------------- section 5 ------------------------------------*/

.section5OurClientsHeader{
    height: 26px;
    width: 257px;
    margin-left: -128px;
    left: 50%;
    margin-top: 2700px;
    position: relative;
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(24, 24, 24, 1);
    text-transform: uppercase;
}

.section5OurClientsContainer{
    height: 28px;
    width: 114px;
    margin-left: -57px;
    left: 50%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.section5OurClientHandspic{
    height: 28px;
    width: 34px;
}

.section5OurClientsText{
    height: 57px;
    width: 476px;
    margin-left: -238px;
    left: 50%;
    margin-top: 24px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(54, 54, 54, 1);
    position: relative;
}

.section5OurClientsContainerof3{
    display: flex;
}

.section5OurClientsBox{
    height: 428px;
    width: 376px;
    margin-left: 103px;
    margin-top: 39px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.section5OurClientpic1,
.section5OurClientpic2,
.section5OurClientpic3{
    height: 97px;
    width: 97px;
    margin-top: 13px;
    border-radius: 50%;
}

.section5OurClientsBoxHeader{
    height: 42px;
    width: 178px;
    margin-top: 41px;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(24, 24, 24, 1);
    margin-left: 30px;
}

.section5OurClientsBoxText{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(149, 149, 149, 1);
}

.section5OurClientsBoxYellowbox{
    height: 54px;
    width: 294px;
    margin-top: 63px;
    border-radius: 0px;
    background-color: #E3B873; 
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    justify-content: space-around;
    margin-left: -20px;
}

.section5OurClientsBoxYellowboxVector1,
.section5OurClientsBoxYellowboxVector2{
    height: 28px;
    width: 28px; 
    margin-top: 11px;
}

.section5OurClientsBoxYellowboxVector1{
    margin-left: 15px;
}

.section5OurClientsBoxYellowboxText1{
    height: 20px;
    margin-top: 17px;
    color: white;
    font-family: Yeseva One;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin-right: 15px;
}

.section5OurClientsBoxYellowboxVerticLine{
    height: 54px;
    width: 0.75px;
    border-radius: 0px;
    background-color: #FFFFFF; 
}

.section5LastblockVector1,
.section5LastblockVector2{
    height: 505px;
    width: 728px;
    position: absolute;
    margin-top: -150px;
}


.section5LastblockVector2{
    margin-left: 710px;
}

.section5LastblockMain{
    height: 954px;
    width: 1440px;
    margin-top: 354px;
}

.section5LastblockVectorBackground,
.section5Lastblockopaccity{
    height: 954px;
    width: 1440px;
    position: absolute;
}

.section5Lastblockopaccity{
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.97) 3.47%, rgba(24, 24, 24, 0.88) 100%);
}

/*------------------------------------------- Black Block ---------------------------------------------------------*/


.section5blackBlock{
    height: 445px;
    width: 883px;
    margin-top: -221px; 
    left: 50%;
    margin-left: -441px;
    position: absolute;
    background-color: rgba(24, 24, 24, 0.97);
}

.section5LastblockRectangleOpassity{
    position: absolute;
}

.section5BlackblockInputformHeader{
    height: 26px;
    width: 257px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    margin-top: 34px;
    left: 50%;
    margin-left: -128px;
}

.section5BlackblockinputBox{
    height: 176px;
    width: 520px;
    left: 50%; 
    margin-left: -260px;
    margin-top: 106px;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
}

#section5name,
#section5phone{
    height: 45px;
    width: 231px;
}

#section5phone{
    margin-left: 58px;
}

#section5question{
    height: 45px;
    width: 100%;
}

#section5Blackblocname,
#section5Blackblocphone,
#section5Blackblocquestion {
    color: white;
    background-color: rgba(54, 54, 54, 0);
    padding: 6px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-left: 0;
    width: 100%;
}

.section5Blackblocbutton{
    left: 50%; 
    margin-left: -100px;
    margin-top: 360px;
    position: absolute;
}

.section5checkbox{
    width: 285px;
    height: 18px;
    left: 50%; 
    margin-left: -143px;
    margin-top: 291px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
}

/*-------------------------------------------End of Black Block---------------------------------------------------------*/


.section5LastblockYellowText{
    height: 51px;
    width: 589px;
    margin-top: 274px;
    left: 50%; 
    margin-left: -295px;
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(227, 184, 115, 1);
    position: absolute;
}

.section5contactsyellowCircle{
    height: 28px;
    width: 71px;
    left: 50%;
    margin-left: -35px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 355px;
}

.section5Map{
    height: 465px;
    width: 925px;
    left: 50%;
    margin-left: -460px;
    position: absolute;
    margin-top: 420px;
}

.footer-container{
    height: 133px;
    width: 1440px;
}